@media screen and (min-width: 993px) {
    * {
        box-sizing: content-box;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;

    }

    .header__logo_ohmyfood {
        padding-left: 30%;
    }

    .Dekstop-Tablette {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Menu {
        width: 400px;
        margin: 10%;
    }

    .Entrée {
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 5%;
    }

    .Plats {
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 5%;
        margin-top: 0%;
    }

    .Dessert {
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 5%;
        margin-top: 0%;
    }

    .Footer__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}