
*{
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    }
.header__arrow{
display: flex;
flex-direction: row;
align-items: center;
font-weight: bold;
margin-left: 3%;
}
.header__logo_ohmyfood{
    padding-left: 5%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.header__photo{
    object-fit:cover;
    height: 200PX;
    width: 375px;
}
.header__Titre{
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    border-radius: 20px 20px 0px 0px;
    padding-top: 0%;
    margin-top: -20px;
    align-items: center;
    font-size: 30px;
    width: 95%;
   
}
main{
border-radius: 20px 20px 0px 0px;
background-color: rgb(244, 242, 242);
margin-top: -20px;
padding-bottom: 40px;
position: relative;
height: auto;
width: auto;
}
.Menu__Titre{
padding-bottom: 0px;
font-size: 10px;
margin: 0px 0px 2px 0px;
padding-left: 5px;
font-weight: 400;
}
.Menu__Titre-underline{
width: 10%;
height: 2px;
border: 2px solid #99E2D0;
margin: 0px 0px 15px 10px;   
}
.Menu{
    border-radius: 25px;
    background-color: white;
    margin: 3%;
    height: 60px;
    width: 300px;
}
.Menu__choix{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    margin: 0%;
}
.Menu__Accompagnement-prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    padding-left: 10px;
    height: 15px;
    font-size: 10px;
    width: 300PX;
    padding-right: 10px;
}
.Menu__prix{
    font-weight: bold;
    font-size: large;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
}
/*--Commander--*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Commander {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    border-radius: 100px;
    margin: 5%;
}
/*--Footer*/
footer {
    background-color: rgb(61, 59, 59);
    color: white;
    padding: 2%;
    margin-bottom: 0%;
}
.Footer__Title
{
    font-family: "shrikhand";
    font-size: 20px;
    font-weight: 400;
}
.Footer__list{
    list-style-type: none;
line-height: 18px;
font-size: 10px;
padding: 0;
}
.Footer__list--link{
    Text-decoration: none;
color: white;
line-height: 20px;
}


