* {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 90%;
    height: 100px;
}

.header__arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4%;
    width: 80%;
    margin: 0%;
    font-family: "shrikhand";
    font-size: 20px;
    height: 50px;
}

.fa-arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    width: 10%;
    padding-right: 25%;

}

a {
    padding-left: 5%;
    padding-right: 20%;
}

.header__logo_ohmyfood {
    padding-left: 10%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 3%;
}

.header__photo {
    object-fit: cover;
    height: 200PX;
    width: 100%;
}

.header__Titre {
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    border-radius: 20px 20px 0px 0px;
    padding-top: 0%;
    padding-left: 5%;
    align-items: center;
    font-size: 20px;
    width: 95%;
}

.Underline {
    display: inline-block;
    background-color: #99E2D0;
    height: 4px;
    width: 26px;
    margin-left: 15px;
}

.fa-heart {
    /*padding-right: 8%;*/
    margin: -6px;
}

.fa-heart::before {
    padding: 10px;
}

.fa-stack {
    position: relative;
    transition: all 500ms;
}

.fa-stack .fa-solid {
    position: absolute;
    opacity: 0;
    transition-duration: 0s;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fa-stack:hover {
    transform: scale(1.2);
    transition: all 500ms;
}

.fa-stack:hover .fa-solid {
    opacity: 1;
}

.fa-stack:hover .fa-regular {
    display: none;
}

main {
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(244, 242, 242);
    margin-top: -20px;
    padding-bottom: 40px;
    position: relative;
    height: auto;
    width: auto;
}

.Dekstop-Tablette {
    animation-name: Apparition;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

}

.Entrée,
.Plats,
.Dessert {
    animation: Fondu 2s ease-out backwards;
}

.Entrée {
    animation-delay: 0.5s;
}

.Plats {
    animation-delay: 1s;
}

.Dessert {
    animation-delay: 2s;
}

@keyframes Fondu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



@keyframes Apparition {
    0% {
        opacity: 0%;
    }

    20% {
        opacity: 20%;
    }

    40% {
        opacity: 40%;
    }

    60% {
        opacity: 60%;
    }

    80% {
        opacity: 80%;
    }

    100% {
        opacity: 100%
    }

}

.Menu__Titre {
    padding-bottom: 0px;
    font-size: 10px;
    margin: 0px 0px 0px 10px;
    padding-left: 5px;
    font-weight: 400;

}

.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: white;
    margin: 3%;
    width: 94%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
}



.Menu__Accompagnement-prix {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0%;
    padding-left: 10px;
    height: 100%;
    font-size: 6px;
    padding-right: 10px;
    width: 100%;
}

.Menu__choix {
    padding-top: 4%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    margin: 0%;
}

p {
    padding-left: 10px;
    padding-bottom: 3%;
    font-size: 12px;
    margin: 0%;
}

.Menu__prix {
    display: flex;
    align-items: flex-end;
    margin-left: .5rem;
    width: auto;
    height: auto;
    font-weight: bolder;
    padding-right: 6%;
}

.Animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #99e2d0;
    width: 0;

}

.fa-circle-check {
    transform: rotate(-180deg);
    color: white;
}

.Menu__prix:hover {
    transform: translateX(-50px);
    transition-property: all;
    transition-duration: 02s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation: both;
    margin: 0%;
}


.Menu__prix:hover+.Animation {
    margin: 0%;
    width: 3rem;
    /*transform: translateX(-50px);*/
    transition-property: all;
    transition-duration: 02s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.Menu__prix:hover+.fa-circle-check {
    transform: rotate(180deg);
    /* transform: translateX(-50px);*/
    transition-property: all;
    transition-duration: 02s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

/*
.Animation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0%;
    background: #99e2d0;
    height: 100%;
    overflow: hidden;
    padding: 5%;
    opacity: 0;
    width: 0%;

}


.Menu__prix:hover {
    transform: translateX(-20px);
    width: 10px;
}


.Animation:hover {
    transition-duration: 05s;
    transition-property: all;
    transition-timing-function: linear;
    opacity: 1;
    width: auto;
    transform: translateX(100%);
}

.fa-circle-check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

.fa-circle-check::before {
    transform: rotate(180deg);
}

/*--Commander--*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
}



.Commander {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    border-radius: 100px;
    margin: 5%;
}

/*--Footer*/
/*--Bas de page--*/
footer {
    background-color: rgb(61, 59, 59);
    color: white;
    padding: 2%;
    margin-bottom: 0%;
}

.Footer__Title {
    font-family: "shrikhand";
    font-size: 15px;
    font-weight: 400;
    padding-left: 4%;
}

.Footer__list {
    list-style-type: none;
    line-height: 18px;
    padding: 0;
}

.Footer__list--link {
    Text-decoration: none;
    color: white;
    line-height: 20px;
    font-size: 13px;
}

.fa-handshake {
    margin-right: 2%;
}

.fa-utensils {
    margin-right: 4%;
}