@media screen and (min-width: 769px) and (max-width: 992px) {
    .header__Location__ville {
        height: 60px;
    }

    .fa-location-dot {
        margin: 0%;
        padding: 1%;
    }

    .Dekstop_Tablette {
        display: flex;
        flex-direction: row;
    }
}